body {
	margin:0;
	padding:0;
	border: solid 1px #000;
}

nav ul {
	
}

nav a:link{

}

nav a:active {

}

nav a:hover {

}

nav a:visited{

}

#container {
	background-color: #fff;
	margin: 0 auto;
	font-family: sans-serif, Verdana, "Times New Roman";
}

#blog {

}

footer {

}