/*the big page size and appearance*/
#container {
	width:1336px;
	height:768px;
	padding:0;
	margin: 0 auto;
	border: solid 1px #000;
	background-color: #e8e1eb;
	font-family: serif, sans-serif, Verdana, "Times New Roman";
	z-index: 0;
}
/*the content boxes*/
#articles {
	width: 1200;
	height: 588px;
	margin: 0px 20px 0px 20px;
	padding:0px;
	/*background-color: #000;*/
	/*border:solid 1px #94bbe9;*/
}

footer {
	width:1336px;
	height: 54px;
	clear: both;
	padding: 0;
	margin: 0 auto;
	background-color: #5270ff;
	color:#ffffff;
	
}

#contactfooter {
	width:1336px;
	height: 51px;
	clear: both;
	padding: 0;
	margin: 0 auto;
	background-color: #5270ff;
	color:#ffffff;
	position:relative;
	bottom: -396px;
}

footer p {
	text-align: center;
	padding: 15px;
}
/*nav unique id*/
#navigation  {
	width: 100%;
	height: 100px;
	background-color: #5270ff;
	margin-bottom: 10px;
	box-shadow: 0px 5px 5px #000;
	-moz-box-shadow: 0px 5px 5px #000;
	-webkit-box-shadow: 0px 5px 5px #000;
	text-align: center;
}
/*nav list display*/
li {
	list-style-type:none;
	display:inline;
}
/*left side header logo*/
#logo {
	width: 60px;
	height: 30px;
	float: left;
	margin: 5px 15px 10px 0px;
	/*box-shadow: 5px 5px 5px #888888;*/
}
/*right side header logo*/
#logo2 {
	width: 60px;
	height: 30px;
	float: right;
	margin-right: 10px;
	/*this will be the industry certification logo*/
}
/* nav list description - can this be combined with nav info above? */ 
nav ul {
	display:inline;
	text-align: center;
	float: left;
	margin-top: 15px;
	margin-left:110px;
	margin-right:0px;
	font-size: 1.5em;
}

nav li {
	padding: 50px;
}

nav a:link{
	text-decoration: none;
	color:#faf8ff;

}

nav a:active {
	text-decoration: none;
	color:#faf8ff;
	font-weight:bold;
}

nav a:hover {
	text-decoration: none;
	color:#ffffff;
	font-weight:bold;
}

nav a:visited{
	text-decoration: none;
	color:#faf8ff;
}
/*article headings*/
h3 {
	color: #0000ff;
	font-weight: bold;
	text-align:justify;
	margin-right: 10px;
}
/**/
#article {
	width:1336px;
}
/*1st page template left column*/
.blogcolumn1 {
	width: 40%; 
	text-align: center;
	clear:both;
	float:left;
	background-color: #faf8ff;
	margin: 50px 50px 10px 70px;
	border: solid 1px #000;
	box-shadow: 5px 5px 2px #666666;
	-moz-box-shadow: 0px 5px 5px #000;
	-webkit-box-shadow: 0px 5px 5px #000;
}
/*1st page template right column*/
.blogcolumn2 {
	width: 40%;
	text-align: center;
	float:right;
	background-color: #faf8ff;
	margin: 50px 100px 10px 10px;
	border: solid 1px #94bbe9;
	box-shadow: 5px 5px 2px #666666;
	-moz-box-shadow: 0px 5px 5px #000;
	-webkit-box-shadow: 0px 5px 5px #000;
}
/* center content for 2nd page template*/
.centerbox {
	width: 75%;
	text-align: center;
	clear:both;
	background-color: #faf8ff;
	margin: 50px 100px 10px 100px;
	border: solid 1px #94bbe9;
	box-shadow: 5px 5px 2px #666666;
	-moz-box-shadow: 0px 5px 5px #000;
	-webkit-box-shadow: 0px 5px 5px #000;
}
.centerbox a {
	text-decoration: none;
}

.centerbox a:hover {
	text-decoration:underline;
}

/* space text */
article p{
	padding: 10px;
}
/*align thumbnail image*/
article img {
	float: left;
	}

#sitemap {

}
/*class for div content topic images*/
.thumbnail {
	padding-right: 5px;
	margin:0;
	width: 75px;
	height: 75px;
}
/*class for logo image in header */
.largeimage {
	padding-right: 5px;
	margin: 0;
	width: 140px;
	height: 140px;
}
